Appium-Python-Client==5.0.0
attrs==25.3.0
autopep8==2.3.2
certifi==2025.1.31
execnet==2.1.1
flake8==7.2.0
h11==0.14.0
idna==3.10
iniconfig==2.1.0
mccabe==0.7.0
mypy==1.15.0
mypy-extensions==1.0.0
outcome==1.3.0.post0
packaging==24.2
pluggy==1.5.0
pycodestyle==2.13.0
pyflakes==3.3.2
PySocks==1.7.1
pytest==8.3.5
pytest-xdist==3.6.1
selenium==4.31.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.13.2
urllib3==2.4.0
websocket-client==1.8.0
wsproto==1.2.0
